// project-list pug

h3 ProjectListComponent

table.table.table-hover
  thead
    tr
      th Id
      th Name
  tbody
    tr(*ngFor="let item of items", (click)="goToDetail(item)")
      td {{item._id}}
      td {{item.name}}
