// project-info pug

.row
  .col-md-12
    form.form-horizontal
      .form-group
        label.control-label.col-sm-1(for="name") Name
        .col-sm-11
          .form-control-static(*ngIf="!ctrl.editMode" id="name") {{ctrl.item.name}}
          input.form-control(*ngIf="ctrl.editMode", [(ngModel)]="ctrl.buffItem.name" name="name" id="name")
