.container
  .row
    .col-md-16
      h3 Angular 2 Seed

      nav
        a([routerLink]="['/']") Home 
        a([routerLink]="['/projects']") Projects

      main
        router-outlet

      footer © 2016
