// project-detail pug

.row
  .col-md-12
    .pull-left
      h3 ProjectDetailComponent: {{ctrl.item.name || 'No item resolved'}}
    .pull-right
      button.btn.btn-default(*ngIf="!ctrl.editMode", (click)="ctrl.edit()") Edit
      button.btn.btn-default(*ngIf="ctrl.editMode", (click)="ctrl.save()") Save
      button.btn.btn-default(*ngIf="ctrl.editMode", (click)="ctrl.cancel()") Cancel


.row
  .col-md-2
    ul.nav.nav-pills.nav-stacked
      li(routerLinkActive="active")
        a(routerLink="description") Description
      li(routerLinkActive="active")
        a(routerLink='info') Info
      li(routerLinkActive="active")
        a(routerLink='notes') Notes

  .col-md-10
    router-outlet
