// shipment-detail pug

.row
  .col-md-12
    .pull-left
      h3 ShipmentDetailComponent: {{item.name || 'No item resolved'}}
    .pull-right
      button.btn.btn-default(*ngIf="!editMode", (click)="edit()") Edit
      button.btn.btn-default(*ngIf="editMode", (click)="save()") Save
      button.btn.btn-default(*ngIf="editMode", (click)="cancel()") Cancel

.row
  .col-md-12
    form.form-horizontal
      .form-group
        label.control-label.col-sm-1(for="name") Name
        .col-sm-11
          .form-control-static(*ngIf="!editMode" id="name") {{item.name}}
          input.form-control(*ngIf="editMode", [(ngModel)]="buffItem.name" name="name" id="name")

router-outlet
